main{ /* 容器 */
	/* flex-wrap:wrap 為欄位變化之關鍵！！！ */
	display:flex;flex-wrap:wrap;
	justify-content:left;
	background-color:#ffffff;
	color:black;
}
main>a, a:visited {
		color: #005b96;
	}
main>a, a:hover, a:active {
		color: #aaa;
		text-decoration: underline;
	}
main>.item{
	
	width:1500px;margin:10px;
	margin-top:70px;
	background-color:#ffffff;
	font-size: 1em;
	font-family: Times, serif;
	line-height: 1.5;
	padding:4px;
}
main>.line{
	font-size: 0.8em;
	border-top: 2px solid #005b96; /* 上方加入底線 */
	width:1500px;margin:10px;
}
main>.box{
	font-family: Times, serif;
	
	margin-top:4px;
	margin-left:8px;
	padding-left: 8px;
	border-left: 8px solid #005b96;
	font-size: 1.2em;
}
main>.it2{
	
	width:1500px;margin:0px;
	margin-left:50px;
	background-color:#ffffff;
	font-size: 16px;
	font-family: Times, serif;
	line-height: 1.5;
	padding:8px;
	list-style-type: circle;
}
@media (max-width: 480px) {
		body {
			padding: 0.5em 1em;
		}
	}