body {
	margin-bottom: 10px;
	margin-top: 14px;
}



/*      navbar      */
.nav{
	font-size: 1.2em;
	font-weight: 400;
	display: flex;
	line-height: 1.4;
}
.nav-title{
	font-size: 1.8em;
	font-weight: 500;
	margin: auto;
	font-family: Times, serif;
}
.nav-item{
	font-family: Times, serif;
}

.nav li:hover:nth-child(8n+1),
.nav li.active:nth-child(8n+1) {
    border-top: #000000 3px solid; 
	color: #030303;
}
.nav li:hover:nth-child(8n+2),
.nav li.active:nth-child(8n+2) {
    border-top: #000000 3px solid; 
    color: #030303;
}
.nav li:hover:nth-child(8n+3),
.nav li.active:nth-child(8n+3) {
    border-top: #000000 3px solid; 
    color: #030303;
}
.nav li:hover:nth-child(8n+4),
.nav li.active:nth-child(8n+4) {
    border-top: #000000 3px solid;
    color: #030303;
}

.navbar-current-page {
    color: #030303; 
}
.img-responsive {
    border: 0px solid #ddd;
    width: 100%;
}
.img-circle{border-radius:50%}
.list-group-item-icon {
    float: right;
    padding-left: 15px;
    margin-top: -10px;
}



/*      About me      */
#intro .jumbotron{
	height: 40vh;
}
#intro .container{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
header li{
	margin: 0 10px;
}
#myTypingText {
    margin-top: 0.075rem;
    padding: 0px 14px; 
    font-size: 1.4em;
    line-height: 1.7;
    letter-spacing: 0.04375rem;
    font-family: 'Times New Roman', Times, serif;
}



/*      Content      */
.content{
	font-family: montserrat,Helvetica,sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
 	letter-spacing: .1875rem;
	text-transform: uppercase;
	padding-left: 8px;
	border-left: 4px solid #000;
	font-size: 1.2em;
	margin-top: 4px;
}
.licontent{
	font-size: 1.2em;
	font-family: montserrat,Helvetica,sans-serif;
	list-style-type: circle;
	color: #5d5d5d;
}
.line{
	border-top: 1.8px solid #d8d8d8 ;
	width: auto;margin:10px;
	margin-left: -6px;
}



@media (max-width: 480px) {
	#second {
		padding: 0em 1em;
	}
	#myTypingText {
		font-size: 1.2em;
	}
}
@media (max-width: 768px) {
	#myTypingText {
		font-size: 1.2em;
	}
}
